<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotniska</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/js/lotniska.js"></script>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="card mb-4">

        <div class="card-body">
            <h2 class="mb-4">Lotniska</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa Lotniska</th>
                        <th>Miasto</th>
                        <th>Kod lotniska</th>
                        <th>Państwo</th>
                    </tr>
                </thead>
                <tbody id="lotniska-table"></tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-primary mt-3" onclick="glownaStrona()">Powrót do strony głównej</button>
</div>



</body>
</html>
