<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminarz</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/js/samoloty.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
    <div class="form-group">
        <label for="samoloty-lotnisko-id">Lotnisko ID:</label>
        <input type="number" placeholder="Lotnisko ID" id="samoloty-lotnisko-id" class="form-control">
        <button class="btn btn-primary" onclick="znajdzSamoloty()">Pokaż</button>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="mb-4">Najczęściej używane samoloty</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Liczba Odlotów</th>
                        <th>Numer Seryjny</th>
                    
                    </tr>
                </thead>
                <tbody id="samoloty-table"></tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-primary mt-3" onclick="glownaStrona()">Powrót do strony głównej</button>
</div>


</body>
</html>
